## Conectando com o banco

In [4]:
import sqlite3 as db
import pandas as pd
import numpy as np

conn = db.connect('dev_nation1.db')

## Criando tabelas do banco

In [6]:
table_empresa = """
CREATE TABLE tbl_empresa (
	id integer primary key autoincrement,
	nome varchar(100) not null,
	email varchar(100) not null,
    senha varchar(100) not null,
    descricao varchar(100) not null,
    titulo varchar(100) not null,
    localizacao varchar(100) not null
);
"""
conn.execute(table_empresa)
conn.commit()

In [7]:
table_usuario = '''
CREATE TABLE tbl_usuario (
	id integer primary key autoincrement,
	nome varchar(100) not null,
	email varchar(100) not null,
  senha varchar(100) not null,
  descricao varchar(100) not null,
  titulo varchar(100) not null,
  stacks varchar(100) not null,
  telefone varchar(100) not null,
  mora_em varchar(100) not null,
  id_empresa smallint not null,
  foreign key (id_empresa) references tbl_empresa(id)
);
'''
conn.execute(table_usuario)
conn.commit()

In [8]:
table_oportunidade = '''
CREATE TABLE tbl_oportunidade (
	id integer primary key autoincrement,
    descricao varchar(100) not null,
    titulo varchar(100) not null,
    salario decimal(10,2) not null,
    modo_de_trabalho varchar(20) not null,
    id_empresa smallint not null,
    foreign key (id_empresa) references tbl_empresa(id)
);
'''
conn.execute(table_oportunidade)
conn.commit()

In [9]:
table_aplicacao = '''
CREATE TABLE tbl_aplicacao (
	id integer primary key autoincrement,
    id_usuario smallint not null,
    id_oportunidade smallint not null,
    foreign key (id_oportunidade) references tbl_oportunidade(id),
    foreign key (id_usuario) references tbl_usuario(id)
);
'''
conn.execute(table_aplicacao)
conn.commit()

## Populando banco

In [10]:
empresas_data = {
    'nome': ['Amplifi Toon', 'Wayne Enterprises', 'TechSolutions', 'Inovatech', 'DigitalMinds', 'WebTech', 'DataInnovators', 'FutureTech', 'InovaSoft', 'TechMasters'],
    'email': ['amplifitoon@gmail.com', 'contato@wayneent.com', 'contato@techsolutions.com', 'contato@inovatech.com', 'info@digitalminds.com', 'contact@webtech.com', 'info@datainnovators.com', 'info@futuretech.com', 'contact@inovasoft.com', 'info@techmasters.com'],
    'senha': ['123456amplifiers', 'batmanrules', 'tech123solutions', 'inovatech2023', 'minds456digital', 'webtechpass', 'datainnovators321', 'futuretech2023', 'inovasoftpass', 'techmasters123'],
    'descricao': ['Nós somos uma empresa com o objetivo de trazer as melhores soluções para os clientes desde 1999.', 'Empresa multinacional de tecnologia e investimentos fundada por Thomas Wayne.', 'Empresa de consultoria e soluções tecnológicas.', 'Empresa especializada em inovação e desenvolvimento de produtos.', 'Agência digital focada em soluções criativas e tecnológicas.', 'Empresa de desenvolvimento web e soluções digitais.', 'Empresa de análise de dados e consultoria em big data.', 'Empresa de tecnologia focada no futuro e inovação.', 'Empresa de desenvolvimento de software personalizado.', 'Empresa de consultoria e treinamento em tecnologia.'],
    'titulo': ['Empresa de Software', 'Indústria de Tecnologia', 'Consultoria em TI', 'Desenvolvimento de Produtos', 'Agência Digital', 'Desenvolvimento Web', 'Análise de Dados', 'Tecnologia e Inovação', 'Desenvolvimento de Software', 'Consultoria em Tecnologia'],
    'localizacao': ['Rio de Janeiro, Brasil', 'Gotham City, EUA', 'São Paulo, Brasil', 'London, UK', 'New York City, EUA', 'Tokyo, Japão', 'Berlin, Alemanha', 'Sydney, Austrália', 'Toronto, Canadá', 'Paris, França']
}


empresas_df = pd.DataFrame(empresas_data)
empresas_df.to_sql('tbl_empresa', conn, if_exists='append', index=False)

# Inserindo dados dos usuários
usuarios_data = {
    'nome': ['Maria Fernanda', 'João Silva', 'Ana Santos', 'Pedro Oliveira', 'Laura Costa', 'Carlos Sousa', 'Mariana Almeida', 'Rafael Mendes', 'Juliana Ferreira', 'Lucas Santos'],
    'email': ['mariafernanda@hotmail.com', 'joaosilva@gmail.com', 'anasantos@yahoo.com', 'pedrooliveira@gmail.com', 'lauracosta@hotmail.com', 'carlossousa@yahoo.com', 'marianaalmeida@gmail.com', 'rafaelmendes@hotmail.com', 'julianaferreira@yahoo.com', 'lucassantos@gmail.com'],
    'senha': ['senha123', 'abc123', 'senha456', '12345678', 'laurinha', 'carlos2023', 'mariana@123', 'rafael987', 'juliana_21', 'lucas#456'],
    'descricao': ['Sou formada em Design Gráfico e trabalho com UI/UX há 5 anos.', 'Desenvolvedor Full Stack com experiência em Python e JavaScript.', 'Especialista em Marketing Digital com foco em SEO e mídias sociais.', 'Engenheiro de Software com experiência em desenvolvimento de aplicativos móveis.', 'Designer de Interiores com expertise em projetos residenciais.', 'Analista de Dados com conhecimento em linguagem R e Python.', 'Gestora de Projetos com habilidades em liderança e organização.', 'Arquiteta com experiência em projetos comerciais e industriais.', 'Advogada especializada em direito trabalhista e contratos.', 'Professor de Inglês com certificação internacional e experiência no exterior.'],
    'titulo': ['Designer de UI/UX', 'Desenvolvedor Full Stack', 'Especialista em Marketing Digital', 'Engenheiro de Software', 'Designer de Interiores', 'Analista de Dados', 'Gestora de Projetos', 'Arquiteta', 'Advogada', 'Professor de Inglês'],
    'stacks': ['Figma, Sketch, Adobe Creative Suite', 'Python, JavaScript, Django', 'SEO, Google Ads, Redes Sociais', 'Android Studio, Swift, React Native', 'AutoCAD, SketchUp, 3D Max', 'R, Python, SQL', 'Scrum, Kanban, Microsoft Project', 'AutoCAD, Revit, ArchiCAD', 'Direito Trabalhista, Contratos, Negociação', 'Inglês Avançado, Certificação TOEFL'],
    'telefone': ['+5511987654321', '+5511976543210', '+5511998765432', '+5511945678901', '+5511934567890', '+5511923456789', '+5511912345678', '+5511998765432', '+5511987654321', '+5511976543210'],
    'mora_em': ['São Paulo, Brasil', 'Rio de Janeiro, Brasil', 'Belo Horizonte, Brasil', 'Porto Alegre, Brasil', 'Curitiba, Brasil', 'Salvador, Brasil', 'Fortaleza, Brasil', 'Recife, Brasil', 'Brasília, Brasil', 'Manaus, Brasil'],
    'id_empresa': [2, 1, 3, 4, 5, 2, 6, 3, 1, 4]
}

usuarios_df = pd.DataFrame(usuarios_data)
usuarios_df.to_sql('tbl_usuario', conn, if_exists='append', index=False)

# Inserindo vagas
oportunidades_data = {
    'titulo': ['Vaga de Desenvolvedor Pleno PHP', 'Vaga de Designer UX/UI', 'Vaga de Analista de Dados', 'Vaga de Gerente de Projetos', 'Vaga de Desenvolvedor Full Stack', 'Vaga de Marketing Digital', 'Vaga de Analista de Sistemas', 'Vaga de Assistente Administrativo', 'Vaga de Engenheiro de Software', 'Vaga de Suporte Técnico'],
    'descricao': ['Vaga para devs proficientes e que trabalhem em times.', 'Vaga para designers criativos e experientes.', 'Vaga para analistas de dados com habilidades em Python.', 'Vaga para gerentes de projetos com experiência em liderança.', 'Vaga para desenvolvedores com conhecimento em várias tecnologias.', 'Vaga para profissionais de marketing digital com experiência em SEO.', 'Vaga para analistas de sistemas com conhecimento em infraestrutura de rede.', 'Vaga para assistentes administrativos com habilidades em organização.', 'Vaga para engenheiros de software com experiência em desenvolvimento web.', 'Vaga para profissionais de suporte técnico com conhecimento em redes.'],
    'salario': [2000.00, 3000.00, 2500.00, 5000.00, 4000.00, 3500.00, 2800.00, 2200.00, 4500.00, 3200.00],
    'modo_de_trabalho': ['híbrido', 'remoto', 'presencial', 'híbrido', 'remoto', 'presencial', 'remoto', 'presencial', 'híbrido', 'remoto'],
    'id_empresa': [2, 5, 7, 3, 1, 4, 6, 8, 9, 10]
}

oportunidades_df = pd.DataFrame(oportunidades_data)
oportunidades_df.to_sql('tbl_oportunidade', conn, if_exists='append', index=False)

# Inserindo aplicações
aplicacoes_data = {
    'id_usuario': [2, 3, 1],
    'id_oportunidade': [1, 2, 4]
}

aplicacoes_df = pd.DataFrame(aplicacoes_data)
aplicacoes_df.to_sql('tbl_aplicacao', conn, if_exists='append', index=False)

3

## Fazendo consultas

### Consultando usuários

In [12]:
consulta1 = '''
    SELECT tbl_usuario.nome, tbl_usuario.titulo, tbl_empresa.nome AS 'Nome da Empresa'
    FROM tbl_usuario
    INNER JOIN tbl_empresa ON tbl_usuario.id_empresa = tbl_empresa.id
'''

query = pd.read_sql_query(consulta1, conn)
df = pd.DataFrame(query) # Transformando query em dataframe
csv = df.to_csv("Join_servico.csv", index=False) # Transformando dataframe em csv
conn.commit() # Salvando possiveis alterações
pd.read_csv("Join_servico.csv") # Lendo csv

               nome                             titulo    Nome da Empresa
0    Maria Fernanda                  Designer de UI/UX  Wayne Enterprises
1        João Silva           Desenvolvedor Full Stack       Amplifi Toon
2        Ana Santos  Especialista em Marketing Digital      TechSolutions
3    Pedro Oliveira             Engenheiro de Software          Inovatech
4       Laura Costa             Designer de Interiores       DigitalMinds
5      Carlos Sousa                  Analista de Dados  Wayne Enterprises
6   Mariana Almeida                Gestora de Projetos            WebTech
7     Rafael Mendes                          Arquiteta      TechSolutions
8  Juliana Ferreira                           Advogada       Amplifi Toon
9      Lucas Santos                Professor de Inglês          Inovatech

### Consultando aplicações

In [14]:
consulta2 = '''
    SELECT tbl_aplicacao.id AS 'Id da Aplicação', tbl_usuario.nome AS 'Quem se Aplicou para a Vaga', tbl_oportunidade.titulo AS 'Titulo da Vaga', tbl_oportunidade.salario AS 'Salario da Vaga'
    FROM tbl_aplicacao
    INNER JOIN tbl_usuario ON tbl_usuario.id = tbl_aplicacao.id_usuario JOIN tbl_oportunidade ON tbl_oportunidade.id = tbl_aplicacao.id_oportunidade;
'''

query = pd.read_sql_query(consulta2, conn)
df = pd.DataFrame(query) # Transformando query em dataframe
csv = df.to_csv("Join_servico.csv", index=False) # Transformando dataframe em csv
conn.commit() # Salvando possiveis alterações
pd.read_csv("Join_servico.csv") # Lendo csv

,Id da Aplicação,Quem se Aplicou para a Vaga,Titulo da Vaga,Salario da Vaga
0,1,João Silva,Vaga de Desenvolvedor Pleno PHP,2000
1,2,Ana Santos,Vaga de Designer UX/UI,3000
2,3,Maria Fernanda,Vaga de Gerente de Projetos,5000